
#container{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
 margin-right:10%;
margin-left:10% ;
 padding-left:9%;
 padding-top: 3%;
 padding-bottom: 10%;
 
}